<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Book details</title>
	</head>
	<body>
		<section>
			<h1><em><%= book.title%></em></h1>
			<p>Author: <%= book.author %></p>
			<p>Pages: <%= book.pages %></p>
			<p>Year released: <%= book.year %></p>
			<p>Country: <%= book.country %></p>
			<p>Original language: <%= book.language %></p>
			<p>
				<a href="<%= book.link %>" target="_blank">Wiki link</a>
			</p>
		</section>
		<section>
			<a href="/books">Go back to the books list</a>
		</section>
	</body>
</html>
